@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'nanum-light';
  src: url(./fonts/NanumSquareL.otf);
}
@font-face {
  font-family: 'nanum-regular';
  src: url(./fonts/NanumSquareR.otf);
}
@font-face {
  font-family: 'nanum-bold';
  src: url(./fonts/NanumSquareB.otf);
}
@font-face {
  font-family: 'nanum-eb';
  src: url(./fonts/NanumSquareEB.otf);
}

/* input number 화살표 지우기 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.box-radio-input input[type='radio']:checked + span {
  background: #23a3a7;
  color: #fff;
}
